{% load i18n %}{% autoescape off %}
    {% blocktrans %}<h1>You're receiving this email because you requested a password reset for your user account
        at {{ site_name }}.</h1>{% endblocktrans %}

    <h3>{% trans "Please go to the following page and choose a new password:" %}</h3>
    <h3>
        {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
        {% endblock %}
    </h3>
    <h3>
        {% trans "Your username, in case you've forgotten:" %} {{ username }}
    </h3>
    <h3>
        {% trans "Thanks for using our site!" %}
    </h3>
    <h3>
        {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
    </h3>
{% endautoescape %}