{% extends 'base.html' %}

{% block content %}

    {#  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">#}

    <div class="row">
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'users:signup' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">Create Meet</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'blog:meet-create' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">Create Post</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'blog:post-create' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">Reset Password</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'users:reset' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">Meets</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'blog:meet-list' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'blog:post-list' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">User change</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'users:change' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="card  h-100">

                <div class="card-body">
                    <h5 class="card-title">User page</h5>
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                        additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted"> Last updated 3 mins ago</small></p>#}
                    <a href="{% url 'users:change' %}"
                       class="btn btn-primary stretched-link">Go</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}